<head>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.js"></script>
  
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDXoF8C-FGo4Qpe_DQs22pLdZhy8WeY4Y"></script>  	
  </head>

<body>
	<div id="PrintArea" style="display:flex; flex-wrap: wrap; align-items: flex-start; align-content: flex-start;">	
	</div>
		
	<script>				
		var itemWidth = (screen.width - 80) / 2;
		var itemHeight = '600px';
		
		var url = 'http://ethereumcollider.net';
		var port = '6699';
		
		$.ajax	({	url : url + ':' + port + '/api/GET_OVERVIEW',				
					success : function (data) {					
						var parsedReturn = JSON.parse(data);
									
						$(parsedReturn).each(function (i,n) {

							var id = n.MCC + n.MNC + n.LAC + n.CI;
							
							var $newDiv = $('<div id="' + id + '" style="margin:5px; border: 1px solid black; width:' + itemWidth + '" data-MCC="' + n.MCC + '" data-MNC="' + n.MNC + '" data-LAC="' + n.LAC + '" data-CI="' + n.CI + '" class="top">' +							
												'MCC: ' + n.MCC + ' MNC: ' + n.MNC + ' LAC: ' + n.LAC + ' CELLID: ' + n.CI + 	
												'<br/>' +
												'<br/>' +
												'<div id="' + id + 'tabcontainer" style="width:98%; height:' + itemHeight + '; display:none; float:right;">' +
													'<table id="' + id + 'table" style="width:100%; border-collapse:collapse;">' +
														'<thead>' +
															'<tr>' +
																'<th style="text-align:left;">' +
																	'BSIC' +
																'</th>' +
																'<th style="text-align:left;">' +
																	'ARFCN' +
																'</th>' +
																'<th style="text-align:left;">' +
																	'MIN' +
																'</th>' +
																'<th style="text-align:left;">' +
																	'AVG' +
																'</th>' +
																'<th style="text-align:left;">' +
																	'MAX' +
																'</th>' +
																'<th style="text-align:right;">' +
																	'FIRST' +
																'</th>' +
																'<th style="text-align:right;">' +
																	'LAST' +
																'</th>' +
																'<th style="text-align:right;">' +
																	'SIGHTINGS' +
																'</th>' +
															'</tr>' +
														'</thead>' +
														'<tbody/>' +
													'</table>' +
													'<br/>' +													
													'<ul>' +
														'<li><a href="#' + id + 'map">Tower Location (Google)</a></li>' +					
														'<li><a href="#' + id + 'graph">Signal Strength</a></li>' +																			
													'</ul>' +		
													'<div id="' + id + 'map" style="height:80%; width:90%; margin: 0 auto;"/>' +
													'<div id="' + id + 'graph" style="height:80%; width:90%; margin: 0 auto;"/>' +
												'</div>' +
											'</div>')
							
							$('#PrintArea')
								.append($newDiv);
								
							$newDiv.find('[id$="tabcontainer"]').tabs();
						});
						
						$('#PrintArea')
							.find('div.top')		
							.css('cursor', 'pointer')
							.mouseenter(function () {
								$(this).css('background-color', 'yellow');
							})
							.mouseleave(function () {
								$(this).css('background-color', 'transparent');
							})
							.click(function (e) {								
								
								if (e.target !== this)
									return;
								
								var $this = $(this);

								var $tabContainerPane = $this.find('div[id$="tabcontainer"]');
								var $tableBody = $this.find('table[id$="table"] > tbody');
								var $graphPane = $this.find('div[id$="graph"]');
								var $mapPane = $this.find('div[id$="map"]');
								
								if ($tabContainerPane.css('display') == 'none')
								{
									$tabContainerPane.css('display', 'block');
									
									//Collect the transmitter summary info for the specified tower
									var towerInfo = {
														"MCC" : $this.attr('data-MCC'),
														"MNC" : $this.attr('data-MNC'),
														"LAC" : $this.attr('data-LAC'),
														"CI"  : $this.attr('data-CI')
													};

									var id = $this.attr('id');
																						
									$.ajax({
										url : url + ':' + port + '/api/GET_TOWER_SUMMARY',			
										data: towerInfo,
										success : function (data) {																												
											data = JSON.parse(data);	
											
											$tableBody.find('tr').remove();
											
											$(data).each(function (i,n) {		
												$tableBody.append('<tr data-BSIC="' + n.BSIC + '" data-ARFCN="' + n.ARFCN + '" style="background-color:' + ((i == 0) ? 'yellow" data-selected="selected"' : 'transparent" ') + '>' +
																		'<td>' +
																			n.BSIC +
																		'</td>' +
																		'<td style="text-align:left;">' +
																			n.ARFCN +
																		'</td>' +
																		'<td style="text-align:left;">' +
																			n.MINPOWER +
																		'</td>' +
																		'<td style="text-align:left;">' +
																			n.AVGPOWER +
																		'</td>' +
																		'<td style="text-align:left;">' +
																			n.MAXPOWER +
																		'</td>' +
																		'<td style="text-align:right;">' +
																			$.format.date(new Date(n.FIRSTSEEN), 'MM/dd/yyyy HH:mm') +
																		'</td>' +
																		'<td style="text-align:right;">' +
																			$.format.date(new Date(n.LASTSEEN), 'MM/dd/yyyy HH:mm') +
																		'</td>' +
																		'<td style="text-align:right;">' +
																			n.TIMESSEEN +
																		'</td>' +
																	'</tr>');	
											});	

											var $yellowLine = $tableBody.find('tr[data-selected="selected"]');
											
											DrawGraph({
															"MCC" 	: towerInfo.MCC,
															"MNC" 	: towerInfo.MNC,
															"LAC" 	: towerInfo.LAC,
															"CI" 	: towerInfo.CI,
															"BSIC" 	: $yellowLine.attr('data-bsic'),
															"ARFCN" : $yellowLine.attr('data-ARFCN')
														});
											
											$tableBody
												.find('tr')
												.click(function () {
													var $this = $(this);
													var $towerDiv = $this.closest('div.top');
													
													if ($this.attr('data-selected') != 'selected')
													{
														$tableBody
															.find('tr[data-selected="selected"]')
															.removeAttr('data-selected')
															.css('background-color', 'transparent');
															
														$(this)
															.attr('data-selected', 'selected')
															.css('background-color', 'yellow');
															
														DrawGraph({
															"MCC" 	: $towerDiv.attr('data-MCC'),
															"MNC" 	: $towerDiv.attr('data-MNC'),
															"LAC" 	: $towerDiv.attr('data-LAC'),
															"CI" 	: $towerDiv.attr('data-CI'),
															"BSIC" 	: $this.attr('data-bsic'),
															"ARFCN" : $this.attr('data-ARFCN')
														});	
															
													}
												});													
										}
									});	
																											
									DrawMap(towerInfo);
								}
								
								else
								{
									$tabContainerPane.css('display', 'none');
								}
							});
					}
				});
				
		function DrawMap (towerInfo)
		{
			var id = towerInfo.MCC + towerInfo.MNC + towerInfo.LAC + towerInfo.CI + 'map';
			var $mapPane = $('div[id=' + id + ']');			
		
			var googleAPI = {													
								homeMobileCountryCode	: parseInt(towerInfo.MCC, 16),
								homeMobileNetworkCode	: parseInt(towerInfo.MNC, 16),
								radioType				: "gsm",
								cellTowers: [{
									"cellId" 			: parseInt(towerInfo.CI, 16),
									"locationAreaCode" 	: parseInt(towerInfo.LAC, 16),
									"mobileCountryCode" : parseInt(towerInfo.MCC, 16),
									"mobileNetworkCode" : parseInt(towerInfo.MNC, 16)
								}]
							};									
														
			$.ajax({
				url : "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAICExuvxZ7AjpuWfxyOHFmTRedvH565RM",		
				type: "POST",
				data: JSON.stringify(googleAPI),
				contentType: "application/json; charset=utf-8",
				dataType: "json",									
				success : function (data) {	

					var map = new google.maps.Map(document.getElementById($mapPane.attr('id')), {
					  zoom: 15,
					  mapTypeId: 'hybrid',
					  center: data.location
					});
					
					var marker = new google.maps.Marker({
						map: map,
						position: data.location
					});			
					
					var circle = new google.maps.Circle({
						map: map,
						center: data.location,
						radius: data.accuracy
					});															
				}
			})								
		}
				
		function DrawGraph (towerInfo)
		{	
			var id = towerInfo.MCC + towerInfo.MNC + towerInfo.LAC + towerInfo.CI + 'graph';
			var $graphPane = $('div[id=' + id + ']');			

			$.ajax({
				url : url + ':' + port + '/api/GET_TOWER_GRAPH',			
				data: towerInfo,
				success : function (data) {																												
					data = JSON.parse(data);					
					$.plot($graphPane, [data], { series : {lines: {show: false}, points: {show: true, radius: 1}}, xaxis: {mode: "time", timeformat: "%m/%d/%y"}, yaxis: { min: 0, max: 100 } });
				}
			});	
		}
	</script>
</body>